<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="#">Fruits</a>
  <a href="#">Vegetables</a>
  <a href="#">Dairy</a>
  <a href="#">Bread</a>
  <a href="#">Non-veg</a>
</div>

<span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; &emsp;Shopping Cart</span>