<div class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <h3>Registration Form</h3>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label>First Name</label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
            />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">First Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Last Name</label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
            />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">Last Name is required</div>
            </div>
          </div>
          <div class="form-group">
            <label>Gender</label>
            <div class="radio" *ngFor="let gender of genders">
              <label>
                <input type="radio" formControlName="gender" [value]="gender">&nbsp;{{ gender }}
              </label>
            </div>
          </div>
          <div class="form-group">
            <label>Contact No.</label>
            <input type="text" formControlName="contact" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contact.errors }"
              maxlength="10" />
            <div *ngIf="submitted && f.contact.errors" class="invalid-feedback">
              <div *ngIf="f.contact.errors.required">Contact no. is required</div>
              <div *ngIf="f.contact.errors.minlength">Contact no. is not valid</div>
            </div>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type={{showHidePassword}} class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            />
            <span (click)="show()" class="glyphicon glyphicon-eye-open"></span>
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
            </div>

          </div>
          <div class="form-group">
            <label>Confirm Password</label>
            <input type={{showHideConfirmPassword}} formControlName="confirmpassword" (keyup)="passvalid()" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmpassword.errors }"
            />
            <span  (click)="showConfirm()" class="glyphicon glyphicon-eye-open"></span>
            <div *ngIf="!validpass && f.confirmpassword.touched">Password does not match</div>
            <div *ngIf="submitted && f.confirmpassword.errors" class="invalid-feedback">
              <div *ngIf="f.confirmpassword.errors.required">Confirm Password</div>
            </div>
          </div>
          <div class="form-group">
            <label>Employee Id</label>
            <input type="text" formControlName="empid" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.empid.errors }"
              maxlength="4" />
            <div *ngIf="submitted && f.empid.errors" class="invalid-feedback">
              <div *ngIf="f.empid.errors.required">Employee Id is required</div>
              <div *ngIf="f.empid.errors.minlength">Employee Id is not Valid</div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-success">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
