<!-- sign up page -->
<div class="sign-in">
    &nbsp;
    <div class="login">
        <h1>Sign in</h1>
        <img src="/assets/facebook.svg" (click)="socialSignIn('facebook')">
        <img src="/assets/google.png" alt="google-signin" (click)="socialSignIn('google')">
    </div>
</div>