/* ----- basic setup ----- */
.sign-in {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9)), url(/assets/backgroundlogin.png);
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.login {
    height: 70%;
    width: 40%;
    background-color: rgba(0, 0, 0, 0.7);
    margin: 5% auto;
    border-radius: 5%;
    color: #fff;
}

h1 {
   text-align: center;
   padding-top: 10%;
   font-weight: bold; 
   font-size: 50px;
}

img{
    height: 30%;
    width: 25%;
    border-radius: 10%;
    margin: 12%;
}