/* You can add global styles to this file, and also import other style files */
@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');
* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Courier';
}

html,
body {
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}