table,th,td {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}
.tableform {
    margin: 50px 20%;
}

th {
    background-color: rgb(71, 167, 212);
}

button {
    display: inline-block;
    margin-left: 20px;
}

button:last-child {
    margin-left: 75%;
}

