<div class="tableform">
  <table>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Gender</th>
      <th>Contact No.</th>
      <th>Password</th>
      <th>Confirm Password</th>
      <th>Employee Id</th>
    </tr>
    <tr>
      <td>{{data.firstName}}</td>
      <td>{{data.lastName}}</td>
      <td>{{data.gender}}</td>
      <td>{{data.contact}}</td>
      <td>{{data.password}}</td>
      <td>{{data.confirmpassword}}</td>
      <td>{{data.empid}}</td>
    </tr>
  </table>
  <p>{{dat}}</p>
  <button (click)="editForm()"  class="btn btn-primary">Edit</button>
  <button (click)="formSubmitted()"class="btn btn-success">Submit</button>
</div>
    