<!-- <button (click)="createService()">Generate New Service</button> -->

<!-- navigation bar -->
<div class="nav">
  <span id="username">{{userData.name.toUpperCase()}}</span>
  <input type="text" placeholder=" Create Channel" [(ngModel)]="newChannel">
  <strong (click)="createChannel()">+</strong>
  <br>
  <span>CHANNELS</span>
  <ul>
    <li *ngFor='let channel of userChannels' (click)='swapChannel(channel)' [id]=channel>&nbsp;#&nbsp;{{channel}}</li>
  </ul>
</div>

<!-- header and logout -->
<div class="header">
    <strong id="channelHeading">#{{channelHeading}}</strong>
    <div id="search">
      <input type="text" placeholder=" Search" [(ngModel)]="channel" (keyup)="findChannel()">
      <button type="button" (click)="logoutUser()">logout</button>
      <ul>
        <li *ngFor='let Channel of searchChannel' (click)='addUser(Channel)'>{{Channel}}</li>
      </ul> 
    </div>
</div>

<!-- chatroom messages -->
<div class="right">
  <div class="chat">
    <ul *ngFor="let msg of allMsg">
      <li id="body"
      [ngClass]="{'alert alert-warning':(msg.from != userData.email),'alert alert-success':(msg.from == userData.email)}"
      [ngStyle]='{"float": msg.from == userData.email ? "right": "left"}'>
        <i><strong>{{msg.from}}</strong></i>
        <br>
        {{msg.body}}
        <br>
        <p id="msgdate">{{msg.date_updated | date:'MMM d, y, h:mm a'}}</p>
      </li>
    </ul>
  </div>

<!-- message input and send button -->
  <div class="send">
      <input (keydown)="keyDownFunction($event)" type="text" [(ngModel)]="myMsg" placeholder=" write message ...">
      <button (click)="sendMsg()">Send</button>
  </div>
</div>