/* ----- navigation bar setup ----- */
.nav {
    float: left;
    width: 25%;
    background: rgb(69, 49, 87);
    color: #fff;
    height: 100vh;
    padding: 2%;
    margin-bottom: 0;
}
.nav input {
    margin-top: 10px;
    margin-top: 20%;
    margin-bottom: 20%;
    font-size: 15px;
    color: #000;
    border: 0;
}

/* ----- header setup ----- */
.header {
    float: left;
    padding-top: 2px;
    border-bottom: 1px solid rgb(218, 213, 213);
    width: 75%;
}
.header button {
    background-color: rgb(184, 18, 18);
}

/* ----- chatroom messages setup ----- */

.right {
    float: left;
    width: 75%;
    height:90vh;
    background: #fff;
    padding-left: 5%;
    padding-right:5%; 
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.chat {
    margin-bottom: 45px;
}

input {
    width: 50%;
    height: 35px;
    margin-right: 20px;
    border: 2px solid rgb(218, 213, 213);
    border-radius: 5px;
}

button {
    background-color: rgb(4, 112, 4);
    border: 0;
    border-radius: 10%;
    color: #fff;
    font-weight: bold;
    padding: 3px;
}

.send {
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-bottom: 5px;
    background-color: #fff;
}

ul {
    list-style: none;
  }

#search {
    float: right;
}

#search ul{
    position: absolute;
    background-color: rgb(69, 49, 87);
    color: #fff;
    width: 12.5%;
    border-radius: 2%;
}

#search ul li:hover,
.nav ul li:hover{
    background-color: rgb(205, 197, 209);
    color: rgb(0, 0, 0);
    border-radius: 2%;
}

#username {
    font-size: 25px;
    font-weight: bold;
}

#channelHeading {
    margin-left: 20px;
    font-size: 30px;
}

#msgdate {
    font-size: 15px;
    float: right;
}

#body {
    word-wrap: break-word;
    width: 50%;
    padding: 10px;
    margin: 5px;
    font-size: 19px;
}